.sidebar-root {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 10px;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}

.sidebar-root:hover {
  background-color: #eee;
}

.sidebar-root > div {
  background-color: #4b4ba3e3;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 16px;
  width: 10rem;
  height: 10rem;
  animation: o 300ms ease-in-out both;
}

.sidebar-root > p {
  font-size: 20px;
  opacity: 0;
  animation: fadeIn 1000ms ease 100ms 1 normal both;
}
