.sidebar-root {
  display: flex;
  padding: 10px;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}

.sidebar-root:hover {
  background-color: #eee;
}

.sidebar-root > div {
  background-color: #eeeeee;
  padding: 10px 16px;
  border-radius: 5px;
  margin-right: 12px;
  font-size: 16px;
}
