.flyout {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 8rem;
  padding: 3px;
  box-shadow: 1px 1px 2px grey;
}

.flyout > a {
  text-decoration: none;
  color: #000000;
  padding: 3px;
}

.flyout > a:hover {
  background-color: #eee;
}
