.sidebar-tree {
  display: flex;
  flex-direction: column;
  padding-left: 3px;
}

.sidebar-tree.active {
  padding-left: 0;
  border-left: 4px #4b4ba3 solid;
  background-color: #f0f0f0;
}

.sidebar-tree a {
  font-size: 14px;
  text-decoration: none;
  padding: 12px 0;
  color: #666666;
}

.sidebar-tree > a {
  display: flex;
  align-items: center;
}

.sidebar-tree > a > i {
  font-size: 16px;
  margin: 2px 10px 2px 14px;
}

.sidebar-tree a:hover {
  background-color: #0000000a;
  border-left-color: #0000000a;
}

.sidebar-tree > div {
  display: flex;
  flex-direction: column;
}

.sidebar-tree > .sub > a {
  padding-left: 3rem;
}

.sidebar-tree > div a.active {
  color: #4b4ba3;
  font-weight: bold;
  background-color: #e6e6e6;
}
.sidebar-tree > .flyout {
  position: absolute;
  left: calc(15rem + 2px);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 8rem;
  padding: 3px 0;
  box-shadow: 1px 1px 2px #c2c2c2;
}

.sidebar-tree > .collapsed {
  left: calc(4rem + 2px);
}

.sidebar-tree > .flyout a {
  text-decoration: none;
  color: #303030;
  font-size: 14px;
  padding: 8px 16px;
}

.sidebar-tree.flyout > a:hover {
  background-color: #eee;
}

a.header-link {
  padding: 16px 0;
}

a.header-link + .flyout {
  display: none;
}

a.header-link + .flyout:hover {
  display: flex;
}
