.sidebar {
  background-color: #fafafa;
  height: 100vh;
  border-right: 1px solid #dbdbdb;
  position: fixed;
  transition: width 300ms ease-in-out 0s;
}

.collapse {
  display: flex;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #dbdbdb;
  cursor: pointer;
  background-color: #fafafa;
  font-size: 0.875rem;
  color: #666666;
  text-transform: uppercase;
  height: 48px;
  justify-content: space-evenly;
  align-items: center;
}

.collapse:hover {
  background-color: #dbdbdb;
}

.collapse > i {
  flex: 1;
  text-align: center;
  font-size: 20px;
}
.collapse > p {
  flex: 3;
}
